body {
  font-family: sans-serif;
}

.padding {
  padding: 50px 75px;
}

.border {
  border: 2px solid;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 0;
  /* align-items: flex-start; */
}

.left {
  padding-bottom: 700px;
  background: red;
}
.center {
  padding-bottom: 5000px;
  background: blue;
  margin: 0 20px;
}
.right {
  padding-bottom: 900px;
  background: yellow;
  border-bottom-color: aqua; /* to see bottom clearer */
}

.container {
  position: relative;
}
